<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

</head>

<body>
  <%- include('../includes/navigation.ejs') %>
  <main>
   <% if (products.length > 0) { %>
    <ul class="cart__item-list">
      <% products.forEach(prod => { %>

        <li class="cart__item">
          <p><%= prod.productId.title %> </p>
          <h2>Quantity: <%= prod.quantity %></h2>
          <form action="/cart-delete-item" method="POST">
            <button class="btn" type="submit">Delete</button>
            <input type="hidden" value="<%= prod.productId._id %>" name="productId">
            <%- include('../includes/csrf.ejs') %>

          </form>
        </li>

      <%}) %>
      
      </ul>
      <hr>
     <div class="centered">
      <a class="btn" href="/checkout">Order Now!</a>
      <!-- <form  action="/create-order" method="POST">
        <button type="submit" class="btn">Order Now</button>
        <%- include('../includes/csrf.ejs') %>

      </form> -->
     </div>

  <% } else { %>
  <h1>No products in Cart</h1>  
  <%} %>
  </main>
  <%- include('../includes/end.ejs') %>